@model Algebra.Models.VMPredbiljezba

@{
    ViewBag.Title = "Delete";
}

<h2>PREDBILJEŽBA-IZBRIŠI</h2>


<div>
   
    <hr />
    <dl class="dl-horizontal" style="font-size:medium">
        <dt>
            @Html.DisplayNameFor(model => model.Predbiljezba.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predbiljezba.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predbiljezba.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predbiljezba.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predbiljezba.Mjesto_stanovanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predbiljezba.Mjesto_stanovanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predbiljezba.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predbiljezba.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predbiljezba.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predbiljezba.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predbiljezba.Datum_predbiljezbe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predbiljezba.Datum_predbiljezbe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predbiljezba.OS_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predbiljezba.OS_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predbiljezba.Napomena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predbiljezba.Napomena)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="IZBRIŠI" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na listu predbilježenih", "Index")
        </div>
    }
</div>
